.button {
  background-color: $light;
  color: $brand-primary;
  font-size: 20px;
  border: 1px solid $brand-primary;
  padding: 4px 8px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear;

  &:hover {
    color: $light;
    background-color: $brand-primary;
  }

  &-new {
    position: absolute;
    right: 16px;
    bottom: 30px;
    font-size: 10px;
    color: $brand-primary;
    cursor: pointer;
    transition: color 0.2s linear, background-color 0.2s linear,
      border 0.2s linear, font-size 0.2s linear;

    &:hover {
      color: $brand-secondary;
      background-color: transparent;
      border: none;
      font-size: 14px;
    }
  }
}
