.mobile-banner {
  background: $brand-primary url(/images/banners/banner-main-mobile.png) center
    center / cover no-repeat;
  width: 100%;
  height: 170px;

  .banner-inner {
    height: 100%;
    position: relative;

    .button-new {
      position: absolute;
      right: 16px;
      bottom: 30px;
    }
  }
}
