.header-primary {
  background-color: $brand-primary;

  &-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    .header-primary-menu-bars {
      color: $white;
      font-size: 32px;
      margin-right: 60px;
    }

    .header-primary-search {
      width: 100%;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      border: 1px solid $gray-primary;

      .search-primary {
        border: none;
        background-color: $brand-primary;

        i {
          color: $brand-secondary;
          font-size: 12px;
        }
      }

      #search-primary {
        border: none;
        color: $brand-secondary;
        background-color: $brand-primary;
        font-size: 10px;
        font-style: italic;
        padding: 3px 0px;
        flex-grow: 1;
        padding-left: 5px;
      }
    }
  }

  .nav-primary {
    padding: 13px 0px;

    a {
      color: $brand-secondary;
      text-transform: uppercase;
      font-family: 'Playfair Display';
      font-size: 19px;
      font-weight: 300;
      transition: font-weight 0.2s linear;

      &:hover {
        font-weight: 500;
      }
    }
  }
}
